.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 130px;
    padding: 10px;
    border: 1px solid black;
    margin: 5%;
    height: 500px;
    overflow-y: scroll;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    margin: 10px;
    max-height: 100px;
}